---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Welcome to Astro.">
	<!-- Hero Section -->
	<section class="bg-slate-800 text-slate-100 text-center py-10">
		<div
			class="container mx-auto flex flex-col-reverse md:flex-row items-center justify-between px-4"
		>
			<div class="flex-1 text-center mt-6 md:text-left md:mt-0 md:mr-6">
				<h1 class="text-4xl md:text-5xl font-bold mb-4">
					Mohammad Sayyid Syafiq
				</h1>
				<p class="text-lg md:text-xl mb-8">I'm a Software Engineer</p>
				<a
					href="#projects"
					class="bg-slate-700 text-slate-100 px-6 py-3 rounded-lg font-semibold hover:bg-sky-600"
				>
					Check My Project 🔥
				</a>
			</div>

			<div class="flex-1 flex justify-end">
				<img
					src="zavic4.JPG"
					alt="Gambar Hero"
					class="h-72 lg:h-96 xl:h-128 rounded-full shadow-2xl"
				/>
			</div>
		</div>
	</section>

	<!-- Projects Section -->
	<section id="projects" class="py-16">
		<div class="container mx-auto px-4">
			<h2 class="text-3xl font-bold mb-5">My Project</h2>

			<div class="flex mb-3">
				<img src="laravel.svg" alt="laravel" class="h-8 mr-2" />
				<h2 class="text-xl font-semibold">Laravel</h2>
			</div>
			<div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
				<!-- Project Item -->
				<div
					class="bg-slate-800 hover:bg-slate-700 p-6 rounded-lg shadow-lg group"
				>
					<div class="overflow-hidden rounded-lg">
						<img
							src="laravel-antrian.png"
							alt="laravel-antrian"
							class="rounded-lg transition-transform duration-300 transform group-hover:scale-110"
						/>
					</div>
					<h3 class="text-2xl font-bold mt-4 mb-1">Laravel Antrian</h3>
					<p class="text-slate-300">
						Picking and queuing system with a wide range of features. Suitable
						for public places such as Hospitals, Government Institutions,
						Restaurants, etc.
					</p>
					<div class="mt-4">
						<a href="https://github.com/zavic/laravel-antrian" class="bg-sky-600 text-slate-100 px-4 py-2 rounded-lg font-semibold hover:bg-sky-700">Github</a>
					</div>
				</div>

				<!-- Project Item -->
				<div
					class="bg-slate-800 hover:bg-slate-700 p-6 rounded-lg shadow-lg group"
				>
					<div class="relative overflow-hidden rounded-lg">
						<img
							src="my-project.png"
							alt="my-project"
							class="rounded-lg transition-transform duration-300 transform group-hover:scale-110"
						/>
					</div>
					<h3 class="text-2xl font-bold mt-4 mb-1">Laravel Blog</h3>
					<p class="text-slate-300">
						Share content in the form of posts that are suitable for the
						company, organization, or individual.
					</p>
					<div class="mt-4">
						<a href="https://github.com/zavic/laravel-blog" class="bg-sky-600 text-slate-100 px-4 py-2 rounded-lg font-semibold hover:bg-sky-700">Github</a>
					</div>
				</div>
			</div>

			<div class="flex mb-3 mt-8">
				<img src="codeigniter_logo.png" alt="codeigniter" class="h-8 mr-2" />
			</div>
			<div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
				<!-- Project Item -->
				<div
					class="bg-slate-800 hover:bg-slate-700 p-6 rounded-lg shadow-lg group"
				>
					<div class="overflow-hidden rounded-lg">
						<img
							src="codeigniter3-todo.png"
							alt="codeigniter3-todo"
							class="rounded-lg transition-transform duration-300 transform group-hover:scale-110"
						/>
					</div>
					<h3 class="text-2xl font-bold mt-4 mb-1">Codeigniter 3 To-do App</h3>
					<p class="text-slate-300">
						The To-Do app powered by CodeIgniter 3 is an easy task management
						tool Designed to help users track and organize their daily lives
						efficiently Assignment. It allows users to view, add, edit, and
						delete tasks.
					</p>
					<div class="mt-4">
						<a href="https://github.com/zavic/codeigniter3_todo" class="bg-sky-600 text-slate-100 px-4 py-2 rounded-lg font-semibold hover:bg-sky-700">Github</a>
					</div>
				</div>
			</div>
		</div>
	</section>

	<!-- About Section -->
	<section id="about" class="bg-slate-800 py-16">
		<div class="container mx-auto px-4">
			<h2 class="text-3xl font-bold mb-6">About</h2>
			<div
				class="flex flex-col md:flex-row items-center justify-between"
			>
			<div class=" md:mr-8">
				<img src="about.png" alt="about" class="h-72 lg:h-80 xl:h-96" />
			</div>
				<div class="flex-1 text-center mt-6 md:text-left md:mt-0 md:mr-6">
					<p class="text-lg">
						I am a web developer majoring in information management. I like the
						development of the world of technology since I was in junior high
						school, I often follow youtube channels that discuss new gadgets or
						laptops. I use the Laravel framework more often to create web
						projects. Every Saturday afternoon, I often play volleyball when I
						have free time
					</p>
				</div>

				
			</div>
		</div>
	</section>

	<!-- Contact Section -->
	<section id="contact" class="py-16">
		<div class="container mx-auto px-4">
			<h2 class="text-3xl font-bold mb-6">Contact</h2>
			<p class="text-lg">
				For businesses, contact my email <a
					href="mailto:sayyidzavic@gmail.com"
					class="text-blue-400 hover:underline">sayyidzavic@gmail.com</a
				>.
			</p>
		</div>
	</section>
</Layout>